<title>LinkedIn Url Generator</title>
<link rel="icon" href="../images/pace.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/linkedinUrlGenerator.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/linkedinUrlGenerator.js"></script>

</head>
<body>
 
<div class="container">
  <h2>LinkedIn URL Generator</h2>
    <div class="panel panel-primary">
      <div class="panel-heading">LinkedIn URL Generator: Just for personal use</div>
      <div class="panel-body">
      	<input type="text" name="typeurl" id="typeurl" class="form-control" placeholder="Type Position Title (eg: Software Engineer)">
      	<br><br><br>
		<p>See result below:</p>
		<p id="result">Type key words in above input to see result here</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
